/*
 * Tokyo Night (https://github.com/folke/tokyonight.nvim): Night in dark
 * mode, Day in light mode.
 */
:root[data-mode="light"] {
  --bgColor-default: #e6e7ed;
  --bgColor-muted: #dcdee5;
  --bgColor-neutral-muted: #cdd0db;
  --borderColor-default: #c1c4d2;
  --borderColor-muted: #d3d5de;
  --fgColor-default: #343b58;
  --fgColor-muted: #5c6070;
  --fgColor-accent: #1e5fc4;
  --focus-outlineColor: #1e5fc4;
  --fgColor-success: #587539;
  --fgColor-attention: #8c6c3e;
  --fgColor-danger: #f52a65;
  --fgColor-done: #9854f1;

  --syntax-comment: #848cb5;
  --syntax-keyword: #9854f1;
  --syntax-string: #587539;
  --syntax-number: #b15c00;
  --syntax-function: #1e5fc4;
  --syntax-type: #188092;
  --syntax-constant: #007197;
  --syntax-tag: #f52a65;
  --syntax-operator: #006a83;
  --syntax-variable: #343b58;
  --syntax-inserted: #587539;
  --syntax-deleted: #c64343;
  --syntax-inserted-bg: #58753926;
  --syntax-deleted-bg: #c6434326;
}

:root[data-mode="dark"] {
  --bgColor-default: #1a1b26;
  --bgColor-muted: #16161e;
  --bgColor-neutral-muted: #292e42;
  --borderColor-default: #3b4261;
  --borderColor-muted: #292e42;
  --fgColor-default: #c0caf5;
  --fgColor-muted: #7d83a8;
  --fgColor-accent: #7aa2f7;
  --focus-outlineColor: #7aa2f7;
  --fgColor-success: #9ece6a;
  --fgColor-attention: #e0af68;
  --fgColor-danger: #f7768e;
  --fgColor-done: #bb9af7;

  --syntax-comment: #565f89;
  --syntax-keyword: #bb9af7;
  --syntax-string: #9ece6a;
  --syntax-number: #ff9e64;
  --syntax-function: #7aa2f7;
  --syntax-type: #2ac3de;
  --syntax-constant: #7dcfff;
  --syntax-tag: #f7768e;
  --syntax-operator: #89ddff;
  --syntax-variable: #c0caf5;
  --syntax-inserted: #9ece6a;
  --syntax-deleted: #f7768e;
  --syntax-inserted-bg: #9ece6a26;
  --syntax-deleted-bg: #f7768e26;
}
